.main-content{
  width: 90%;
  display: grid;
  min-height: 1000px;
  grid-template-columns: 300px 700px;
}
.left-section{
grid-column: span 1;
background-color: rgb(35, 27, 27);
color: aliceblue;
}
.right-section{
grid-column: span 1/ span 2;
padding: 2rem 3rem;
}
.left-content{
  padding: 1rem;
}
.profile-image{
  display: block;
  margin: auto;
  border: 5px solid white;
  border-radius: 30%;
  width: 60%;
}
.name{
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02px;
  padding: 0.8rem;
}
.designation{
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0rem 0rem 0.5rem 0rem;
}
.description{
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
}
.social-media li{
  display: inline-flex;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.skills-title{
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0.5;
}
.skill-name{
  font-size: 0.65rem;
  font-weight: 0.65rem;
  text-align: left;
  padding: 0rem 0rem 0.5rem 0rem;
}

.progress-bar{
  border: 1px solid white;
  height: 4px;
  background-color: blue;
}
.right-title{
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 674px){
.main-content{
   grid-template-columns: repeat(1, 1fr);
}
}